
#gameplace{width: 300px;position: relative;margin: 0 auto;}
#gametally {z-index:-1; color: #ccc;}
#gametally li {font-size: small;  line-height: 1em;}
#word {width: 9em;}


.content { padding:0;}
.cell{
    text-align: center;
    text-transform: uppercase;
    float: left;
    width: 29px;
    height: 28px;
    padding: 5px 1px 0px 1px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    font-size: 19px;
}
.wordCell { background-color:#FF8;}
.activeCell { background-color:#e6e6e6; font-weight: bold;}


         @-webkit-keyframes tada { 
            10% {-webkit-transform: scale(1.2);}
            15%, 20% {-webkit-transform: scale(1) rotate(-4deg);} 
25% ,50%, 70%, 90% {-webkit-transform: scale(1) rotate(3deg);}
            40%, 60%, 80% {-webkit-transform: scale(1) rotate(-1deg);} 
            100% {-webkit-transform: scale(1) rotate(0);} 
         }
         
         @keyframes tada { 
            10% {transform: scale(1.2);} 
            15%, 20% {transform: scale(1) rotate(-10deg);} 
25%,50%, 75%, 90% {transform: scale(1) rotate(3deg);} 
            40%, 60%, 80%  {transform: scale(1) rotate(-2deg);} 
            100% {transform: scale(1) rotate(0);}
         }
         
         .tada { 
            -webkit-animation-duration: 1s;
            animation-duration: 1	s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 

            -webkit-animation-name: tada; 
            animation-name: tada; 
         }
.notify {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2.7;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    display:none;
}
#note {background: #1f8dd6;    color:#fff;}
#game {background: #E6E6E6;    color:#1f8dd6;}

.modalBlock{
   width: 600px;
   height: 450px;
   background-color: #5B5;
   position: absolute;
   z-index: 12;
   display: flex;
   justify-content: center;
   align-items: center;
}
.modalBlock .buttonsBlock{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100px;
}