:root {
   --cell-width: calc(100vw / 30);
   --cell-width-1400: calc(100vw / 15);
   --cell-width-768: calc(100vw / 12);
   --cell-font-size: calc(100vw / 45);
   --cell-font-size-1400: calc(100vw / 21);
   --cell-font-size-768: calc(100vw / 17);
}

body {
   width: 100%;
   margin: 0;
   background-image: url("./../img/bcg.jpg");
   background-size: cover;
 }

#gameplace{
    background-image: url('./../img/wood.jpg');
    block-size: cover;
    justify-content: center;
    border: 1px solid black;
    font-size:1.6em;
    border-radius: 0.7em;
    box-shadow:-5px 5px 5px rgb(0 0 0 / 20%);
    padding: 7px;
 }
 #gametally {z-index:-1; color: #ccc;}
 #gametally li {font-size: small;  line-height: 1em;}
 #word {width: 9em;}
 
 #main {
   height: calc(100vh - var(--top-menu));
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .content {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .header {
    margin-bottom: 20px;
 }
 
 .wordCell { background-color:#FF8;}
 .activeCell { background-color:#d8d0bd; font-weight: bold;}
 
 
          @-webkit-keyframes tada { 
             10% {-webkit-transform: scale(1.2);}
             15%, 20% {-webkit-transform: scale(1) rotate(-4deg);} 
 25% ,50%, 70%, 90% {-webkit-transform: scale(1) rotate(3deg);}
             40%, 60%, 80% {-webkit-transform: scale(1) rotate(-1deg);} 
             100% {-webkit-transform: scale(1) rotate(0);} 
          }
          
          @keyframes tada { 
             10% {transform: scale(1.2);} 
             15%, 20% {transform: scale(1) rotate(-10deg);} 
 25%,50%, 75%, 90% {transform: scale(1) rotate(3deg);} 
             40%, 60%, 80%  {transform: scale(1) rotate(-2deg);} 
             100% {transform: scale(1) rotate(0);}
          }
          
          .tada { 
             -webkit-animation-duration: 1s;
             animation-duration: 1	s; 
             -webkit-animation-fill-mode: both; 
             animation-fill-mode: both; 
 
             -webkit-animation-name: tada; 
             animation-name: tada; 
          }
 .notify {
     position: absolute;
     z-index: 101;
     top: 0;
     left: 0;
     right: 0;
     text-align: center;
     line-height: 2.7;
     overflow: hidden; 
     -webkit-box-shadow: 0 0 5px black;
     -moz-box-shadow:    0 0 5px black;
     box-shadow:         0 0 5px black;
     display:none;
 }
 #note {background: #1f8dd6;    color:#fff;}
 #game {background: #E6E6E6;    color:#1f8dd6;}

 .game_params_container {
   display: flex;
   justify-content: center;
   align-items: stretch;
 }

 .game_params {
   box-sizing: border-box;
   width: calc(var(--cell-width) * 1.5);
   height: calc(var(--cell-width));
   font-size: calc(var(--cell-font-size) / 1.5);
   text-align: center;
   border: 1px solid #ccc;
   background: #f1e9d3;
   border-radius: 0.4em;
   border: 3px solid #5B5A37;
   color:#000;
   padding: 0 0.5em;
   line-height: 2.1;
 }

 .word-input{
   margin: 0 2px;
   width: calc(var(--cell-width) * 4);
}

 .timer {
   margin: 0 2px;
 }

 .timer__items {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .point-button{
     font-family: inherit;
 }

 .clear-button{
    font-family: inherit;
 }
 

.b-popup {
   display: none;
}

/* grid styles */
.wrapper {
   display: grid;
   grid-template-columns: repeat(9, 1fr);
   gap: calc(var(--cell-width) / 15);
}

.cell{
   width: var(--cell-width);
   height: var(--cell-width);
   font-size: var(--cell-font-size);
   box-sizing: border-box;
   padding-top: 0.1em;
   text-align: center;
   text-transform: uppercase;
   border: 1px solid #ccc;
   background:#f1e9d3;
   border-radius:.3em;
   border-top: 2px solid #fff;
   border-right:1px solid #fff;
   border-left: 1px solid #cbc2aa;
   border-bottom: 2px solid #474235;
   color:#000;
   box-shadow:-1px 1px 1px rgb(0 0 0 / 15%);
}

/* pop-up styles */
.popup {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: rgba(0,0,0,0.9);
   opacity: 0;
   transition: 0.5s all;
   z-index: 50;
}

.popup-content {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.pop-up_img {
   max-width: 250px;
}

.cracker {
   position: absolute;
   width: 400px;
   top: -30px;
}

.cracker_gif-left {
   transform: rotate(-20deg);
   margin-right: 250px;

}

.cracker_gif-right {
   transform: rotate(20deg);
   margin-left: 250px;
}

:root {
   --dark-brown: #a88e0c;
   --green: rgba(7,233,33,1);
   --red: rgba(233,7,53,1);
}

.result_container {
   font-family: 'Rubik';
   color: #5c4603;
   font-weight: 700;
   width: 400px;
   background-image: url('./../img/wood.png');
   background-size: cover;
   padding: 15px;
   border-radius: 5px;
   box-shadow:
   0px 0px 0px 2px var(--dark-brown);
   /* 0px 0px 20px 5px yellow; */
   /* 2px 1px 2px 0px #cd9c04,
   inset 2px 2px 0px 0px #f3d26c; */
   position: relative;
   margin-top: 50px;
}

.mb-10 {
   margin-bottom: 10px;
}

.mb-25 {
   margin-bottom: 25px;
}

.result_container::before {
   content: '';
   background-image: url('./..img/victory_plaque.png');
   background-repeat: no-repeat;
   background-size: 200px;
   width: 200px;
   height: 200px;
   position: absolute;
   top: -105px;
   left: 112px;
}

.result_inner {
   border: 5px double var(--dark-brown);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 40px 20px 20px 20px;
}

.result_plaque {
   width: 250px;
   background: #fcda74;
   box-shadow:
   0px 0px 0px 1px #c39612,
   0px 0px 10px 2px #fcda74;
   font-size: 20px;
}

.result_text {
   padding: 10px;
   border-radius: 5px;
   text-align: center;
   position: relative;
}

.stars::before {
   content: '';
   background-image: url('./../img/star.png');
   background-repeat: no-repeat;
   background-size: 50px;
   width: 50px;
   height: 50px;
   position: absolute;
   top: -3px;
   left: -23px;
}

.stars::after {
   content: '';
   background-image: url('./../img/star.png');
   background-repeat: no-repeat;
   background-size: 50px;
   width: 50px;
   height: 50px;
   position: absolute;
   top: -3px;
   right: -23px;
}

.trofy::before {
   content: '';
   background-image: url('./../img/trofy.png');
   background-repeat: no-repeat;
   background-size: 50px;
   width: 50px;
   height: 50px;
   position: absolute;
   top: 0px;
   left: -25px;
   transform: rotate(-10deg);
}

.trofy::after {
   content: '';
   background-image: url('./../img/trofy.png');
   background-repeat: no-repeat;
   background-size: 50px;
   width: 50px;
   height: 50px;
   position: absolute;
   top: 0px;
   right: -25px;
   transform: rotate(10deg);
}

.result_button_container {
   display: flex;
   width: 250px;
   justify-content: space-between;
}

.result_button {
   box-shadow: none;
   width: 100px;
   font-size: 16px;
   font-weight: 500px;
}

.next_button {
   background: linear-gradient(0deg, rgba(7,233,33,1) 0%, rgba(142,237,143,1) 50%, rgba(209,245,213,1) 100%);
   border: none;
   box-shadow: 0px 1px 1px 1px #426b42;
}

.next_button:hover {
   box-shadow: 0 0 2px 2px white, 0 0 0 4px var(--green);
}

.prev_button {
   background: linear-gradient(0deg, rgba(233,7,53,1) 0%, rgba(237,142,145,1) 50%, rgba(245,209,209,1) 100%);
   border: none;
   box-shadow: 0px 1px 1px 1px #6b4243;
}

.prev_button:hover {
   box-shadow: 0 0 2px 2px white, 0 0 0 4px var(--red);
}

.result_button:hover {
   cursor: pointer;    
}

.text-light {
   color: #a38107;
}

@media (max-width: 1400px) {
   .cell {
      width: var(--cell-width-1400);
      height: var(--cell-width-1400);
      font-size: var(--cell-font-size-1400);
   }
   .wrapper {
      gap: calc(var(--cell-width-1400) / 15);
   }
   .game_params {
      width: calc(var(--cell-width-1400) * 1.5);
      height: calc(var(--cell-width-1400));
      font-size: calc(var(--cell-font-size-1400) / 2);
    }
   
    .word-input{
      width: calc(var(--cell-width-1400) * 4);
   }
}

@media (max-width: 768px) {
   .cell {
      width: var(--cell-width-768);
      height: var(--cell-width-768);
      font-size: var(--cell-font-size-768);
   }
   .wrapper {
      gap: calc(var(--cell-width-768) / 15);
   }
   .game_params {
      width: calc(var(--cell-width-768) * 1.5);
      height: calc(var(--cell-width-768));
      font-size: calc(var(--cell-font-size-768) / 2);
    }
   
    .word-input{
      width: calc(var(--cell-width-768) * 4);
   }

   .result_container {
      width: 300px;
   }

   .pop-up_img {
      max-width: 200px;
   }
   .cracker {
      max-width: 300px;
   }
   .cracker_gif-left {
      transform: rotate(-20deg);
      margin-right: 200px;
   
   }
   
   .cracker_gif-right {
      transform: rotate(20deg);
      margin-left: 200px;
   }
}