:root {
   --cell-width: calc(100vw / 30);
   --cell-width-1400: calc(100vw / 15);
   --cell-width-768: calc(100vw / 12);
   --cell-font-size: calc(100vw / 45);
   --cell-font-size-1400: calc(100vw / 21);
   --cell-font-size-768: calc(100vw / 17);
}

@font-face {
   font-family: "Rubik";
   font-weight: 400;
   src: url("../../public/fonts/rubik/Rubik-Regular.ttf");
 }
 
 @font-face {
   font-family: "Rubik";
   font-weight: 500;
   src: url("./rubik/Rubik-Medium.ttf");
 }
 
 @font-face {
   font-family: "Rubik";
   font-weight: 700;
   src: url("../../public/fonts/rubik/Rubik-Bold.ttf");
 }
 
 @font-face {
   font-family: "Josefin";
   font-weight: 400;
   src: url("../../public/fonts/rubik/JosefinSans-Regular.ttf");
 }
 
 @font-face {
   font-family: "Josefin";
   font-weight: 700;
   src: url("../../public/fonts/rubik/JosefinSans-Bold.ttf");
 }

html {
   width: 100%;
   height: 100%;
   font-family: "Josefin", sans-serif;
}

body {
   width: 100%;
   margin: 0;
   background-image: url("./../img/bcg.jpg");
   background-size: cover;
 }

 /* Found word dialog image */
 .dilalog-found-word {
   position: absolute;
   top: 50px;
   right: 75%;
   z-index: 70;
 }

 /* Game block */
 .game {
   height: calc(100vh - var(--top-menu));
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

  /* Game header styles */
 .game_params_container {
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: stretch;
 }

 .game__params-item {
   box-sizing: border-box;
   width: calc(var(--cell-width) * 1.5);
   height: calc(var(--cell-width));
   font-size: calc(var(--cell-font-size) / 1.5);
   text-align: center;
   border: 1px solid #ccc;
   background: #f1e9d3;
   border-radius: 0.4em;
   border: 3px solid #5B5A37;
   color:#000;
   padding: 0 0.5em;
   line-height: 2.1;
 }

 .game__timer {
   margin: 0 2px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .game__points {
   font-family: inherit;
}

 .game__word-input {
   margin: 0 2px;
   width: calc(var(--cell-width) * 4);
}

.game__clear-button {
    font-family: inherit;
 }

 /* Game field styles */
 .game__content {
   display: flex;
   justify-content: center;
   align-items: center;
}

.game__gameplace {
    background-image: url('./../img/wood.jpg');
    block-size: cover;
    justify-content: center;
    border: 1px solid black;
    font-size:1.6em;
    border-radius: 0.7em;
    box-shadow:-5px 5px 5px rgb(0 0 0 / 20%);
    padding: 7px;
 }

.game__gameplace-wrapper {
   display: grid;
   grid-template-columns: repeat(9, 1fr);
   gap: calc(var(--cell-width) / 15);
}

.game__cell {
   width: var(--cell-width);
   height: var(--cell-width);
   font-size: var(--cell-font-size);
   box-sizing: border-box;
   padding-top: 0.1em;
   text-align: center;
   text-transform: uppercase;
   border: 1px solid #ccc;
   background: #f1e9d3;
   border-radius:.3em;
   border-top: 2px solid #fff;
   border-right:1px solid #fff;
   border-left: 1px solid #cbc2aa;
   border-bottom: 2px solid #474235;
   color:#000;
   box-shadow:-1px 1px 1px rgb(0 0 0 / 15%);
}

.game__cell:hover {
   cursor: pointer;
   background-color: #cbc2aa;
   border: none;
}

 .game__active-cell { background-color:#d8d0bd; font-weight: bold;}

 @media (max-width: 1400px) {
   .game__cell {
      width: var(--cell-width-1400);
      height: var(--cell-width-1400);
      font-size: var(--cell-font-size-1400);
   }
   .game__gameplace-wrapper {
      gap: calc(var(--cell-width-1400) / 15);
   }
   .game__params-item {
      width: calc(var(--cell-width-1400) * 1.5);
      height: calc(var(--cell-width-1400));
      font-size: calc(var(--cell-font-size-1400) / 2);
    }
   
    .game__word-input{
      width: calc(var(--cell-width-1400) * 4);
   }
}

@media (max-width: 768px) {
   .game__cell {
      width: var(--cell-width-768);
      height: var(--cell-width-768);
      font-size: var(--cell-font-size-768);
   }
   .game__gameplace-wrapper {
      gap: calc(var(--cell-width-768) / 15);
   }
   .game__params-item {
      width: calc(var(--cell-width-768) * 1.5);
      height: calc(var(--cell-width-768));
      font-size: calc(var(--cell-font-size-768) / 2);
    }
   
    .game__word-input{
      width: calc(var(--cell-width-768) * 4);
   }
}

 /* What is this element? */
 /* .game__notify {
     position: absolute;
     z-index: 101;
     top: 0;
     left: 0;
     right: 0;
     text-align: center;
     line-height: 2.7;
     overflow: hidden; 
     -webkit-box-shadow: 0 0 5px black;
     -moz-box-shadow:    0 0 5px black;
     box-shadow:         0 0 5px black;
     display:none;
 } */
