:root {
   --letter-block-length: calc(100vw / 30);
   --letter-block-length-1400: calc(100vw / 25);
   --letter-block-length-768: calc(100vw / 15);
   --gif-margin: calc(100vw / 4);
 }

html {
   box-sizing: border-box;
   font-family: 'Rubik', sans-serif;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

body {
   height: 100vh;
   margin: 0;
   background-image: url("./../../img/bcg.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

 
#gameplace{
    display:flex;
    flex-wrap:wrap;
    background-image: url('./../img/wood.jpg');
    block-size: cover;
    justify-content: center;
    border: 1px solid black;
    font-size: 1.6em;
    border-radius: 0.7em;
    box-shadow:-5px 5px 5px rgb(0 0 0 / 20%);
    padding: 5px;
 }
 #gametally {z-index:-1; color: #ccc;}
 #gametally li {font-size: small;  line-height: 1em;}
 #word {width: 9em;}

 #content {
   height: calc(100% - var(--header-height));
   display: flex;
   justify-content: center;
   align-items: center;
 }

 #main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 
.wrapper {
   display: grid;
   grid-template-columns: repeat(9, var(--letter-block-length));
   grid-auto-rows: var(--letter-block-length);
   gap: calc(var(--letter-block-length) / 10)
}
 
 .cell{
     text-align: center;
     text-transform: uppercase;
     float: left;
     padding-top: 0.1em;
     border: 1px solid #ccc;
     background:#f1e9d3;
     border-radius: 0.3em;
     font-size: calc(100vw / 40);
     border-top: 2px solid #fff;
     border-right:1px solid #fff;
     border-left: 1px solid #cbc2aa;
     border-bottom: 2px solid #cbc2aa;
     color:#000;
     box-shadow:-1px 1px 1px rgb(0 0 0 / 15%);
     cursor: pointer;
 }

 .cell:hover {
   background:#bfbfb8;
   border: 1px solid #bfbfb8;
 }
 
 .header {
    margin-bottom: 20px;
 }
 
 .wordCell { background-color:#FF8;}
 .activeCell { background-color:#d8d0bd; font-weight: bold;}
 
 
          @-webkit-keyframes tada { 
             10% {-webkit-transform: scale(1.2);}
             15%, 20% {-webkit-transform: scale(1) rotate(-4deg);} 
 25% ,50%, 70%, 90% {-webkit-transform: scale(1) rotate(3deg);}
             40%, 60%, 80% {-webkit-transform: scale(1) rotate(-1deg);} 
             100% {-webkit-transform: scale(1) rotate(0);} 
          }
          
          @keyframes tada { 
             10% {transform: scale(1.2);} 
             15%, 20% {transform: scale(1) rotate(-10deg);} 
 25%,50%, 75%, 90% {transform: scale(1) rotate(3deg);} 
             40%, 60%, 80%  {transform: scale(1) rotate(-2deg);} 
             100% {transform: scale(1) rotate(0);}
          }
          
          .tada { 
             -webkit-animation-duration: 1s;
             animation-duration: 1	s; 
             -webkit-animation-fill-mode: both; 
             animation-fill-mode: both; 
 
             -webkit-animation-name: tada; 
             animation-name: tada; 
          }
 .notify {
     position: absolute;
     z-index: 101;
     top: 0;
     left: 0;
     right: 0;
     text-align: center;
     line-height: 2.7;
     overflow: hidden; 
     -webkit-box-shadow: 0 0 5px black;
     -moz-box-shadow:    0 0 5px black;
     box-shadow:         0 0 5px black;
     display:none;
 }
 #note {background: #1f8dd6;    color:#fff;}
 #game {background: #E6E6E6;    color:#1f8dd6;}
 
 .point-button{
     border: 1px solid #ccc;
     background:#f1e9d3;
     border-radius:.4em;
     border-top: 2px solid #fff;
     border-right:1px solid #fff;
     border-left: 1px solid #cbc2aa;
     border-bottom: 2px solid #cbc2aa;
     color:#000;
     box-shadow:-1px 1px 1px rgb(0 0 0 / 15%);
     font-size: 100%;
     font-family: inherit;
     text-decoration: none;
     padding: 0.5em 1em;
     border: 3px solid #5B5A37;
 }
 .clear-button{
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    background:#f1e9d3;
    border-radius:.4em;
    border-top: 2px solid #fff;
    border-right:1px solid #fff;
    border-left: 1px solid #cbc2aa;
    border-bottom: 2px solid #cbc2aa;
    text-decoration: none;
    border: 3px solid #5B5A37;
 }
 
 #word-input{
    width: 11em;
    height: auto;
    margin: 0 2px;
    background:#f1e9d3;
    border-radius:.4em;
    border-top: 2px solid #fff;
    border-right:1px solid #fff;
    border-left: 1px solid #cbc2aa;
    border-bottom: 2px solid #cbc2aa;
    border: 3px solid #5B5A37;
 }

/* pop-up styles */
.b-popup {
   width:100%;
   height: 2000px;
   background-color: rgba(0,0,0,0.9);
   overflow: hidden;
   position: fixed;
   top: 0px;
   z-index: 50;
   visibility: hidden;
   opacity: 0;
   transition: opacity 1000ms ease-in-out;
   text-align: center;
   display: flex;
   justify-content: center;
}

.b-popup-content {
   z-index: -5;
   position: relative;
}

.pop-up_img {
   width: 400px;
}

/* gif styles */
.cracker_gif-left {
   z-index: -5;
   position: absolute;
   transform: rotate(-40deg);
   left: -250px;
}

.cracker_gif-right {
   z-index: -5;
   position: absolute;
   transform: rotate(40deg);
   right: -250px;
}

/* timer styles */
.timer__items {
   display: flex;
   font-size: 48px;
 }
 .timer__item {
   position: relative;
   min-width: 60px;
   margin-left: 10px;
   margin-right: 10px;
   padding-bottom: 15px;
   text-align: center;
 }
 .timer__item::before {
   content: attr(data-title);
   display: block;
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   font-size: 14px;
 }
 .timer__item:not(:last-child)::after {
   content: ':';
   position: absolute;
   right: -15px;
 }

 @media (max-width: 1400px) {
   .wrapper {
      grid-template-columns: repeat(9, var(--letter-block-length-1400));
      grid-auto-rows: var(--letter-block-length-1400);
      gap: calc(var(--letter-block-length-1400) / 10)
   }
   .cell {
      font-size: calc(100vw / 35);
   }
   .pop-up_img {
      width: 300px;
   }
   .cracker_gif-left, .cracker_gif-right {
      width: 400px;
   }
   .cracker_gif-left {
      left: -200px;
   }
   .cracker_gif-right {
      right: -200px;
   }
 }

@media (max-width: 768px) {
   .wrapper {
      grid-template-columns: repeat(9, var(--letter-block-length-768));
      grid-auto-rows: var(--letter-block-length-768);
      gap: calc(var(--letter-block-length-768) / 10)
   }
   .cell {
      font-size: calc(100vw / 20);
      padding-top: 0.07em;
   }
   .pop-up_img {
      width: 200px;
   }
   .cracker_gif-left, .cracker_gif-right {
      width: 300px;
   }
   .cracker_gif-left {
      left: -150px;
   }
   .cracker_gif-right {
      right: -150px;
   }
}