@font-face {
    font-family: "Rubik";
    font-weight: 400;
    src: url("../../public/fonts/rubik/Rubik-Regular.ttf"); 
 }
 
 @font-face {
    font-family: "Rubik";
    font-weight: 700;
    src: url("../../public/fonts/rubik/Rubik-Bold.ttf"); 
 }

 @font-face {
    font-family: "Josefin";
    font-weight: 400;
    src: url("../../public/fonts/rubik/JosefinSans-Regular.ttf"); 
 }
 
 @font-face {
    font-family: "Josefin";
    font-weight: 700;
    src: url("../../public/fonts/rubik/JosefinSans-Bold.ttf"); 
 }
 
html {
    width: 100%;
    height: 100%;
    font-family: 'Josefin', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("./../../img/bcg.jpg");
    background-size: cover; 
}

a.top-menu-link {
    text-decoration: none;
}

.top-menu *{
    margin: 0;
    padding: 0;
    margin: 0;
    border: none;
}

button.top-menu-link {
    padding: 0;
    background-color: transparent;
}

.top-menu {
    background-color: #4C4C4C;
    margin-bottom: 150px;
}

.top-menu > .top-menu-list {
    display: flex;
    justify-content: end;
}

.top-menu-link {
    display: block;
    padding: 10px;
    color: white;
}

.top-menu-list {
    list-style: none;
}

i {
    font-size: 18px;
}

.top-menu-link:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    transition-duration: 0.5s;
}

.top-menu-item > ul {
    background-color: black;
    position: absolute;
    right: 0;
    min-width: 100px;
    display: none;
}

.top-menu-item > ul > li {
    border: 1px solid white;
}

.top-menu-link > ul li {
    border: 1px solid gray;
}

.top-menu-link > ul li a {
   padding: 10px;
}

.top-menu-item > ul ul {
    background-color: black;
    position: absolute;
    right: 100px;
    top: 80px;
    min-width: 100px;
}

.top-menu li:hover > ul {
    display: block;
}

