<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
</head>

<body class="body_404">
    <header>
        <h1>{{ .Title }}</h1>
    </header>
    <main>
        <article style="text-align:center">
            {{ .Content }}
        </article>
    </main>
    <footer>
        <p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}</p>
    </footer>
</body>
</html>
