{{ define "main" }}
<div id="main">
  <div class="header">
    <div class="game_params_container">
      <span class="timer game_params timer__items" id="timer">
        <div class="timer__item timer__minutes"></div>
        :
        <div class="timer__item timer__seconds"></div>
      </span>

      <span
        class="point-button game_params"
        id="points"
        title="{{ .Site.Params.Points}}"
        >...
      </span>

      <select id="word-input" class="word-input game_params">
        <option>{{ .Site.Params.Lets}}</option>
      </select>

      <span
        class="clear-button game_params"
        id="cut-btn"
        title="{{ .Site.Params.Cut}}"
        ><i class="fa-solid fa-delete-left"></i>
      </span>
    </div>
  </div>
  <div class="content">
    <div id=""></div>
    <div id="gameplace">
      <div class="wrapper"></div>
    </div>
    <div id="result"></div>
  </div>
</div>
<div
  class="gallery pure-form"
  style="position: fixed; top: 50%; left: 50%"
></div>
{{ end }}
