{{ define "main" }}
<div id="main">
  <div class="header">

  </div>
  <div class="content">
    <div id=""></div>
    <div id="gameplace">
      <div class="timer">
        {{- partial "leftButtonBLock.html" . -}}
        <div class="timer__items">
          <div class="timer__item timer__minutes">00</div>
          :
          <div class="timer__item timer__seconds">00</div>
        </div>
        {{- partial "rightButtonBlock.html" . -}}
      </div>
      {{- partial "pointsaAndWord.html" . -}}
    </div>
    <div id="result"></div>
  </div>
</div>
<div
  class="gallery pure-form"
  style="position: fixed; top: 50%; left: 50%"
></div>
{{ end }}
