      <!--<script src="js/ui.js"></script>-->
      {{  $js := resources.Get "/js/gameCtrl.js"  -}}
      <script defer src="{{  $js.RelPermalink }}"></script>

      {{$js := resources.Get "/js/backgroundChange.js" -}}
      <script defer src="{{ $js.RelPermalink }}"></script>
      
      {{  $js := resources.Get "/js/genSet.js"  -}}
      <script defer src="{{  $js.RelPermalink }}"></script>

      {{  $js := resources.Get "/js/dictionary.js"  -}}
      <script defer src="{{  $js.RelPermalink }}"></script>

      {{  $js := resources.Get "/js/victory.js"  -}}
      <script defer src="{{  $js.RelPermalink }}"></script>
   </body>
</html>
