<body>
  <div class="modalBlockForImages">
    <button class="closeButton"><i class="fa-solid fa-xmark"></i></button>

    <div class="messageBlock">
      <span class="message">{{ .Param "messageOne"}}</span>
      <span class="message">{{ .Param "messageTwo"}}</span>
      <span class="message">{{ .Param "messageThree"}}</span>
      <span class="message">{{ .Param "messageFour"}}</span>
      
    </div>
  </div>

  <header>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8&appId=215324895555689";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="b-popup">
      {{- partial "rateBlock.html" . -}}
      <div class="b-popup-content">
        <div class="crackerGifLeft">
          
        </div>
        <div class="victoryImage">
          
        </div>
        <div class="crackerGifRight">
       
        </div>
      </div>
      <div class="findedWordsBlock">
        <span>{{ .Param "findedWords"}}</span>
       <div class="findWord">
        <span class="error">{{ .Param "errorWord"}}</span>
       
         <div class="wordBlock">
          <div class="header">
            <p> {{ .Param "word"}}</p>
            <p>{{ .Param "letterLength"}}</p>
          </div>
          <div class="general">
            <div class="leftBlock"></div>
            <div class="rightBlock"></div>
          </div>
    
         </div>
           
            
         
    
       </div>
      </div>
      <button class="restartBtn">{{ .Param "restartGamebtnLanguage"}}</button>
    </div>
    <div class="top-menu">
      <ul class="top-menu-list">
        {{- partial "SwitchLang.html" . -}}
      </ul>
      </li>
      </ul>
    </div>
    </div>
   
    </div>
  </header>

</body>