<div class="modalSlider">
  <div class="closeBtn"><img src="/img/close.png" alt=""></div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
      <video  autoplay loop muted >
      <source src="/ShortVideos/Начало игры.webm" >
        </video>
        <div class="carousel-caption d-none d-md-block bg-secondary">
          <h5 class="text-white">{{ .Param "captionHeaderOne"}}</h5>
          <p class="text-white">{{ .Param "captionParagraphOne"}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <video  autoplay loop muted>
          <source src="/ShortVideos/Найти слово.webm">
          </video>
        <div class="carousel-caption d-none d-md-block bg-secondary">
<h5 class="text-white">{{ .Param "captionHeaderTwo"}}</h5>
<p class="text-white">{{ .Param "captionParagraphTwo"}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <video  autoplay loop muted>
          <source src="/ShortVideos/удаления .webm">
          </video>
        <div class="carousel-caption d-none d-md-block bg-secondary">
          <h5 class="text-white">{{ .Param "captionHeaderThree"}}</h5>
<p class="text-white">{{ .Param "captionParagraphThree"}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <video  autoplay loop muted>
          <source src="/ShortVideos/подсказка(1).webm">
          </video>
        <div class="carousel-caption d-none d-md-block bg-secondary">
          <h5 class="text-white">{{ .Param "captionHeaderFour"}}</h5>
<p class="text-white">{{ .Param "captionParagraphFour"}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <video  autoplay loop muted>
          <source src="/ShortVideos/Изменение фонового изображения.webm">
          </video>
        <div class="carousel-caption d-none d-md-block bg-secondary">
          <h5 class="text-white">{{ .Param "captionHeaderFive"}}</h5>
<p class="text-white">{{ .Param "captionParagraphFive"}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>