<div class="modalSlider">
  <div class="closeBtn">X</div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://dummyimage.com/600x400/000/fff.jpg" class="d-block w-100" alt="image">
        <div class="carousel-caption d-none d-md-block bg-secondary">
          <h5 class="text-white">计时器</h5>
          <p class="text-white">点击“开始游戏”按钮后，分配给游戏的时间开始到期，
            你有 10 分钟的时间玩</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://dummyimage.com/400x300/000/fff.jpg" class="d-block w-100" alt="image">
        <div class="carousel-caption d-none d-md-block bg-secondary">
          <h5 class="text-white">观点</h5>
          <p class="text-white">这个游戏板上有隐藏的单词。对于每个正确的单词，您将获得一分</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://dummyimage.com/300x100/000/fff.jpg" class="d-block w-100" alt="image">
        <div class="carousel-caption d-none d-md-block bg-secondary">
          <h5 class="text-white">删除一个字</h5>
          <p class="text-white">如果您选择了错误的单词，您可以使用以下命令将其删除 <i class="fa-solid fa-delete-left"></i> 按钮 </p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>