<div class="modalBlock">
  <div data-aos-duration="3000" data-aos="fade-up" class="headerBlock">
    <h1>{{ .Title}}</h1>
  </div>
  <div class="buttonsBlock">
   <button  class="StartBtn">{{ .Param "StartGame"}}</button>
  <button  class="RulesBtn">{{ .Param "RulesGame"}}</button>
  </div>
  <div class="buttonsBlock">

  <button  class="TelegBtn" style="background-color: white;"><img  id="avatar" style="margin: auto; width: 50% " src="https://gravitalik.ru/tg.svg"></button>
  <button  class="RulesBtn" >{{ .Param "Points"}} : <span id="points">0</span></button>
</div>
</div>
</div>
