<div class="modalBlock">
  <div data-aos-duration="3000" data-aos="fade-up" class="headerBlock">
    <h1>{{ .Title}}</h1>
  </div>

  
  <div class="buttonsBlock">
   <button  class="StartBtn">{{ .Param "StartGame"}}</button>
  <a href="{{ .Permalink }}/rules"  class="RulesBtn">{{ .Param "RulesGame"}}</a>
  </div>
  <div class="buttonsBlock">

  <button  class="TelegBtn" style="background-color: white;"><img  id="avatar" style="margin: auto; width: 50% " src="https://gravitalik.ru/tg.svg"></button>
  <button  class="PointsBtn" >{{ .Param "Points"}} : <span id="points">0</span></button>


</div>
</div>
</div>
