<div class="generalBlock">
    <div class="wordHeaderandPoint">
        <h4>{{ .Param  "wordHeader"}} :</h4>
    
    </div>
    <div class="Words">
        <div class="pure-form" style="display: flex; justify-content: center">
            
            <select id="word-input" class="pure-input-3-5">
              <option>{{ .Site.Params.Lets}}</option>
            </select>
          </div>
          <div class="buttonsBlock">
            <div class="hintBtnBlock">
           
              <button  class="hintBtn">
                <i class="fa-solid fa-lightbulb"></i>
              </button>
              <div class="badge">0</div>
             </div>
            <button class="deleteBtn"><i class="fa-solid fa-trash"></i></button>
            <button class="refreshButton">
               <i class="fa fa-refresh"></i>
            </button>
    
          </div>
    </div>
</div>