<div class="rateBlock">
  <h2 class="rateHeader">{{ .Param "rateHeader"}}</h2>
  <h2 class="ratedText">{{ .Param "ratedHed"}}</h2>
  <div class="rateBtns">
    <button class="rateBtn">😔
      <span class="rate">
        {{ .Param "rateOne"}}
      </span>
    </button>
    <button class="rateBtn">🙄
      <span class="rate">
        {{ .Param "rateTwo"}}
      </span>
    </button>
    <button class="rateBtn">🙂
      <span class="rate">
        {{ .Param "rateThree"}}
      </span>
    </button>
    <button class="rateBtn">😁
      <span class="rate">
        {{ .Param "rateFour"}}
      </span>
    </button>
    <button class="rateBtn">🤩
      <span class="rate">
        {{ .Param "rateFive"}}
      </span>
    </button>
  </div>
  <div class="choosenBlock">
    <h2>
      {{ .Param "choosed"}}
      <span class="choosen_icon"></span>
    </h2>
  </div>
</div>
