<li class="top-menu-item">
 
  <ul class="top-menu-list for_languageBlock">
    <li class="top-menu-item">
      {{ range $.Site.Home.AllTranslations }}
    <li class="top-menu-item">
      <a class="top-menu-link-languages" href="{{ .Permalink }}">
        {{ $path := printf "%s/%s.png" "/img/flag" .Language  }}
        {{ $image := resources.Get $path }}
        {{ with $image }}
          {{ $image := $image.Resize "x20" }}
          <img src="{{ $image.RelPermalink  }}">
        {{ end }}
          {{ .Language.LanguageName}}
        </a>
        </li>
    {{ end }}
</li>
  </ul>
</li>
